.chat_contents
  .chat_header
    .chat_header__name
      name
  .main_chat
    .message_left
      .message_left__text
        good
    .message_right
      .message_right__text
        thank you
    .message_right
      .message_right__text
        photo
    .message_left
      .message_left__text
        very good ddddddddddddddddddddddddddddddddddddddddddddddddddddd
  .message_contents
    .message_contents__items
    .message_contents__message_box
      %textarea.message_contents__message_box--type{cols: "40", name: "kanso", rows: "4"}
    .message_contents__border
      %input.message_contents__border--send{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}
      