.users_box
  .user_search
    .user_search__items
      .user_search__items--search
      .user_search__items--icon
  .chat_list
    .chat_info
      .chat_info__image
      .chat_info__info
        .chat_info__info--name
          name
        .chat_info__info--last-message
          まだメッセージがありません
    .chat_info
      .chat_info__image
      .chat_info__info
        .chat_info__info--name
          name2
        .chat_info__info--last-message
          まだメッセージがありません